<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>madlib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill some stuff for a madlib</h1>
    <form action="/story-celebs" method="post">
     <label for="noun1">enter a noun</label>
     <input id="noun1" name="noun1" type="text">
     <label for="noun2">enter another noun</label>
     <input id="noun2" name="noun2" type="text">
     <label for="celebrity1">enter a celebrity</label>
     <input id="celebrity1" name= "celebrity1" type="text">
     <label for="celebrity2">enter a celebrity</label>
     <input id="celebrity2" name= "celebrity2" type="text">
     <label for="celebrity3">enter a celebrity</label>
     <input id="celebrity3" name= "celebrity3" type="text">
     <label for="verb" name="verb">Enter a verb</label>
     <input id="verb" name="verb" type="text">
     <button type="submit">Go to Celebrity MadLib!</button>
    </form>

     <!-- <form action="/story-pups" method="post">
     <label for="noun1">enter a noun</label>
     <input id="noun1" name="noun1" type="text">
     <label for="noun2">enter another noun</label>
     <input id="noun2" name="noun2" type="text">
     <label for="animal">enter a celebrity</label>
     <input id="animal1" name= "celebrity1" type="text">
     <label for="celebrity2">enter a celebrity</label>
     <input id="celebrity2" name= "celebrity2" type="text">
     <label for="celebrity3">enter a celebrity</label>
     <input id="celebrity3" name= "celebrity3" type="text">
     <label for="verb" name="verb">Enter a verb</label>
     <input id="verb" name="verb" type="text">
     <button type="submit">Go to Celebrity MadLib!</button>
    </form> -->
  </body>
</html>